<style>
    table, th, td {
      border: 1px solid black;
    }
    th, td{
        height: 30px;
        width: 150px;
    }
</style>

{% block content %}
    <center><h1>Concesionarios</h1></center>
    <center>
    <ul>
        <table class="default">
            <tr>
                <th>Usuario</th>
                <th>Pedido</th>
                </tr>
                {% for carrito in object_list %}
                    <tr>
                    <td>{{ carrito.Usuario }}</td>
                    <td>{{ carrito.Pedido }}</td>
                </tr>
                {% endfor %}
            <p></p>
    </ul>
    </center>
{% endblock %}
