<style>
    li,{
      border: 1px solid black;
      text-col
    }

    li,{
        height: 30px;
        width: 150px;
        color:white
    }
    </style>
{% block content %}
    <center><h1 style="font-family:">Nuestros concesionarios</h1></center>
<body style="background-color:#9B1B00;">
    <center>
    <ul>
      {% for concesionario in object_list %}
      <li> <a href="{{ concesionario.id }}">{{ concesionario.ubicacion }}</a>
          <a href="{% url 'concesionario-update' concesionario.pk %}">Modificar</a>
      </li>
      {% empty %}
      <li>No hay coches todavía.</li>
      {% endfor %}
    </ul>
    </center>
</body>
{% endblock %}
